
<h1 class="mt-4" >Lojas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ loja.id ? 'Editar Loja' : 'Cadastro de Loja'}}</li>
</ol>
<div class="container-fluid">

  <form #lojaForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Cliente salvo/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loja.id">
      <div class="col-md-6">
        <div class="form-group">
        <label>ID:</label>
        <input type = "text" [ngModel]="loja.id" name="id" class="form-control" disabled/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
        <label>Nome: *</label>
        <input type = "text" class="form-control"
                      [(ngModel)]="loja.nomeFantasia" name="nome"/>
        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group">
        <label>Razão Social: *</label>
        <input type = "text" class="form-control" [(ngModel)]="loja.razaoSocial" name="razaoSocial"/>
        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group">
        <label>CNPJ: *</label>
        <input type = "text" class="form-control" [(ngModel)]="loja.cnpj" name="cnpj"/>
        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group">
        <label>Telefone: *</label>
        <input type = "text" class="form-control" [(ngModel)]="loja.telefone" name="telefone"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type= "submit" class="btn btn-success" *ngIf="!loja.id" >
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type= "submit" class="btn btn-primary" *ngIf="loja.id" >
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button type= "submit" class="btn btn-danger ml-1"  (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
